################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ControleFinanceiro/.vs/ControleFinanceiro
/ControleFinanceiro/ControleFinanceiro/bin/Debug
/ControleFinanceiro/ControleFinanceiro/obj/Debug
